page-my-place {
}




.logo-angular-icon ion-icon::before {
  color: red;
  font-size: 35px;

}


.options ion-icon::before {
  font-size: 22px !important;
}
.options {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: flex-end;
}
.plaMyPlaMypro {
  display: flex;
  justify-content: center;
}

